<!-- Page Contents -->
<div class="pusher">

  <div class="ui inverted vertical masthead center aligned segment">
      <img class="ui centered image small" [src]="'assets/images/mc-logo-210.png'">
    <div class="ui text container">
      <h1 class="ui inverted header">
        404
      </h1>
      <h2>Page not found!</h2>
      <a routerLink="/" class="ui huge primary button">Get Back Home
        <i class="right arrow icon"></i>
      </a>
    </div>
  </div>
</div>
