<div class="content-header">
  <h3 class="ui header">Staff Information</h3>
</div>

<div class="main ui container">
  <h5 class="ui header">Find a colleague</h5>
  <div class="ui form">
    <div class="inline fields">
      <div class="six wide field">
        <input #colleague colleague.value="" type="text" maxlength="16" placeholder="job title, email, name">
        <button class="ui button orange" (click)="findStaffsByColleague(colleague.value)">Search</button>
      </div>
    </div>
  </div>
  <table sortable-table (sorted)="onSorted($event)" class="ui selectable inverted grey table">
    <thead>
      <tr>
        <th sortable-column="FullName" sort-direction="asc">Name</th>
        <th sortable-column="Email">Email</th>
        <th class="align center" sortable-column="AccountStatus">Status</th>
        <th sortable-column="PermissionRole">Permission</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffs" [ngSwitch]="staff.AccountStatus">
        <td (click)="showInfoModal(staff.Id)">
          <!-- <img class="ui middle aligned mini circular image" [src]='staff.AccountProfileImageUrl'> &nbsp;
          <span>{{staff.FullName}}</span> -->
          <h4 class="ui image header">
            <img [src]='staff.AccountProfileImageUrl' class="ui mini circular image">
            <div class="content">
              {{staff.FullName}}
              <div class="sub header">{{staff.AccountProfile.JobTitle}}
              </div>
            </div>
          </h4>
        </td>
        <td>{{staff.Email}}</td>
        <td *ngSwitchCase="1">
          <i class="user plus icon is-popup" data-content="New staff"></i>
        </td>
        <td *ngSwitchCase="2">
          <i class="envelope icon is-popup" data-content="Waiting invite confirmation"></i>
        </td>
        <td *ngSwitchCase="3">
          <i class="check circle icon is-popup" data-content="Active"></i>
        </td>
        <td *ngSwitchCase="4">
          <i class="exclamation triangle icon" data-content="Disable"></i>
        </td>
        <td *ngSwitchCase="5">
          <!-- <i class="user plus icon" data-content="Suspend"></i> -->
        </td>
        <td>{{staff.PermissionRole}}</td>
        <!-- <staff-info-modal [staff]="staff" [id]="staff.Id"></staff-info-modal> -->
        <td>
          <div class="ui floating dropdown icon button staff-action">
            <i class="cog icon"></i>
            <div class="menu">
              <div *ngIf="staff.AccountStatus === 1" (click)="sendInvitation(staff.Id)" class="item">
                Send invitation
              </div>
              <div *ngIf="staff.AccountStatus === 2" (click)="sendInvitation(staff.Id)" class="item">
                Re-send invitation
              </div>
              <div *ngIf="staff.AccountStatus === 3" (click)="disableAccount(staff.Id)" class="item">
                Disable
              </div>
              <div (click)="editStaffInfo($event)" class="item">
                Edit staff's information
              </div>
              <!-- <div (click)="deactivatedStaff($event)" class="item">
                Deactivated Staff
              </div> -->
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
