.ui.grid > .row > .blue-custom.column {
  background-color: #87d0d6 !important;
  color: #000000;
}

.ui.grid > .row > .orange-custom.column {
  background-color: #e78901 !important;
  color: #000000;
}

.ui.grid > .row > .grey-custom.column {
  background-color: #464646 !important;
  color: #ffffff;
}

.ui.grid > .row > .blue-custom.column,
.ui.grid > .row > .orange-custom.column,
.ui.grid > .row > .grey-custom.column {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.news-section > .item > .content > a.header,
.news-section > .item .meta,
.news-section > .item > .content > .description,
.news-section > .item > .content > .extra {
  color: rgba(255, 255, 255, 0.8) !important;
}

.ui .items > .item > .content > .date {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-size: 0.85714286em;
  font-style: normal;
  margin: 0 0 0 0.5em;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
}

.ui .items > .item > .content > .meta > span.date {
  float: right;
  font-weight: 400;
  font-size: 0.85714286em;
  font-style: normal;
  margin: 0 0 0 0.5em;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}
