<div class="main ui padded grid two column container">
  <div class="row">
    <div class="orange-custom eight column">
      <h3 class="ui header">News</h3>
    </div>
    <div class="blue-custom eight column">
      <h3 class="ui header">Announcement</h3>
    </div>
  </div>
  <div class="row">
    <div class="grey-custom eight column">
      <div class="ui items divided news-section">
        <div class="item" *ngIf="filterAnnouncementItems(1)?.length <= 0">
          <div class="ui sizer vertical segment">
            <div class="ui medium header grey">No News found</div>
          </div>
        </div>
        <div class="item" *ngFor="let announcement of filterAnnouncementItems(1)">
          <div class="content">
            <div class="meta">
              <span>{{announcement.FromSubject}}</span>
              <span class="date" [attr.data-content]="announcement.CreatedPostDateUtc">{{announcement.CreatedPostDateUtc | mmTimeAgo}}</span>
            </div>
            <a class="header">{{announcement.TitleName}}</a>
            <div class="description">
              <app-readmore [text]="announcement.Contents" [limit]="200"></app-readmore>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight column">
      <div class="ui items divided announcement-section">
        <div class="item" *ngIf="filterAnnouncementItems(2)?.length <= 0">
          <div class="ui sizer vertical segment">
            <div class="ui medium header blue">No Announcement found</div>
          </div>
        </div>
        <div class="item" *ngFor="let announcement of filterAnnouncementItems(2)">
          <div class="content">
            <div class="meta">
              <span>{{announcement.FromSubject}}</span>
              <span class="date">{{announcement.CreatedPostDateUtc | mmTimeAgo}}</span>
            </div>
            <a class="header">{{announcement.TitleName}}</a>
            <div class="description">
              <app-readmore [text]="announcement.Contents" [limit]="200"></app-readmore>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
