﻿body{
    background-color: #377EBC;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

body > .appLayout {
    padding-top: 10em;
}


.login_message__login > ul {
    list-style-type: none;
}