<div class="ui labeled icon vertical sticky menu fixed top borderless">
  <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">
    <i class="chart bar icon"></i>
    Dashboard
  </a>
  <a routerLink="./staff" routerLinkActive="active" class="item">
    <i class="users icon"></i>
    Staff
  </a>
  <a routerLink="./announcement" routerLinkActive="active" class="item">
    <i class="bullhorn icon"></i>
    News
  </a>
</div>
