﻿
@model Core.Secure.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}


@section styles {
    <link rel="stylesheet" type="text/css" href="~/forgotpassword.css" />
}


<div class="appLayout__content">
    <div class="ui centered grid container animated fadeIn">
        <div class="twelve wide tablet nine wide computer column">
            <img src="~/images/mc-logo-210.png" class="ui centered medium image" />
        </div>
        <div class="twelve wide tablet nine wide computer column">
            <div class="ui fluid card">
                <div class="content">
                    <form method="post" class="ui form" asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">
                        @await Html.PartialAsync("_ValidationSummaryForgotPassword")
                        <div class="field">
                            <label asp-for="Email">Email Address</label>
                            <input asp-for="Email" type="text" />
                        </div>
                        <div class="field right floated">
                            <button class="ui orange submit button" type="submit">
                                <i class="sign in icon"></i>
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>