﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Core.Secure.Models.Account.LoginViewModel
@inject SignInManager<Core.Secure.Models.Accounts> SignInManager

@{
    ViewData["Title"] = "Login";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/login.css" />
}

<div class="appLayout__content">
    <div class="ui centered grid container animated fadeIn">
        <div class="twelve wide tablet nine wide computer column">
            <img src="~/images/mc-logo-210.png" class="ui centered medium image" />
        </div>
        <div class="twelve wide tablet nine wide computer column">
            <div class="ui fluid card">
                <div class="content">
                    <form method="post" class="ui form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">
                        @await Html.PartialAsync("_ValidationSummary")
                        <div class="field">
                            <label asp-for="Email">Email Address</label>
                            <input asp-for="Email" type="text" />
                        </div>
                        <div class="field">
                            <label asp-for="Password">Password</label>
                            <div class="ui icon input">
                                <input asp-for="Password" type="password" />
                                <i class="link icon"></i>
                            </div>
                            <a href="/account/ForgotPassword" target="_blank">Forgot password?</a>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input asp-for="RememberMe" type="checkbox" tabindex="0" class="hidden">
                                <label asp-for="RememberMe">Remember Me</label>
                            </div>
                        </div>
                        <div class="field right floated">
                            <button class="ui orange submit button" type="submit">
                                <i class="sign in icon"></i>
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $('.ui.icon.input  i').addClass('unhide');

            $('.ui.icon.input i').on('click', function () {
                if ($(this).hasClass('unhide')) {
                    $(this).removeClass('unhide');
                    $('input[name="Password"]').attr('type', 'text');
                    $(this).addClass('hide');
                } else {
                    $(this).removeClass('hide');
                    $('input[name="Password"]').attr('type', 'password');
                    $(this).addClass('unhide');
                }

            });

            $('form button[type="submit"]').on('click', function () {
                if ($('.ui.icon.input i').hasClass('hide')) {
                    $(this).removeClass('hide');
                    $('input[name="Password"]').attr('type', 'password');
                    $(this).addClass('unhide');
                }
            });
        });
    </script>
}