﻿@model Core.Secure.Models.Account.LogoutViewModel

<div class="appLayout__content">
    <p>Would you like to logout?</p>
    <form class="ui form" method="post" asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <input type="hidden" name="logout_redirectUrl" value="@Model.RedirectUrl" />
        <div class="field">
            <button class="ui button">Yes</button>
        </div>
    </form>
</div>