﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/login.css" />
}

<div class="appLayout__content">
    <div class="ui centered grid container animated fadeIn">
        <div class="twelve wide tablet nine wide computer column">
            <img src="~/images/mc-logo-210.png" class="ui centered medium image" />
        </div>
        <div class="twelve wide tablet nine wide computer column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui center aligned">
                        <i class="massive check circle icon green"></i>
                        <div class="ui huge header">Success!</div>
                        <p>Your password has been reset. Please <a href="https://www.meyer-connect.com">click here to log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>