﻿@model Core.Secure.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/resetpassword.css" />
}

<div class="appLayout__content">
    <div class="ui centered grid container animated fadeIn">
        <div class="twelve wide tablet nine wide computer column">
            <img src="~/images/mc-logo-210.png" class="ui centered medium image" />
        </div>
        <div class="twelve wide tablet nine wide computer column">
            <div class="ui fluid card">
                <div class="content">
                    <form method="post" class="ui form"  role="form">
                        @await Html.PartialAsync("_ValidationSummary")
                        <div class="field">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" />
                        </div>
                        <div class="field">
                            <label asp-for="ConfirmPassword">Re-type Password</label>
                            <input asp-for="ConfirmPassword" type="password" />
                        </div>
                        <div class="field right floated">
                            <button class="ui orange submit button" type="submit">
                                <i class="save icon"></i>
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>