<div *ngIf="text">
  <p *ngIf="text.length <= limit" [innerHTML]="text"></p>
  <p *ngIf="truncating && text.length > limit" [innerHTML]="text | truncate : limit"></p>
  <a *ngIf="truncating && text.length > limit" class="collapse" (click)="setTruncating(false)">&nbsp;Read more</a>
  <p *ngIf="!truncating && text.length > limit" [innerHTML]="text"></p>
  <a *ngIf="!truncating && text.length > limit" class="collapse" (click)="setTruncating(true)">&nbsp;Hide</a>
</div>
