<div class="ui labeled icon vertical sticky menu fixed top borderless">
  <a routerLink="/news-announcement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">
    <i class="newspaper outline icon"></i>
    News
  </a>
  <!-- <a routerLink="/calendar" routerLinkActive="active" class="item">
    <i class="calendar alternate outline icon"></i>
    Calendar
  </a> -->
  <a routerLink="/staff-directories" routerLinkActive="active" class="item">
    <i class="address book icon"></i>
    Staff Directory
  </a>
  <a href="//wiki.meyer-connect.com" target="_blank" class="item">
    <i class="wikipedia w icon"></i>
    Meyer Wiki
  </a>
</div>
