/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/angular-calendar/css/angular-calendar.css'; */

.ui.sticky.fixed.top {
  top: 4.35em;
}

/*******************************
         Sidebar Layout
*******************************/

.pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.pusher > .full.height {
  background-color: #ffffff;
}

/* page layout */
.full.height > .toc {
  position: relative;
  z-index: 1;
  background-color: transparent;
  width: 100px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.full.height > .toc > .ui.menu {
  border-radius: 0;
  /*border-width: 0 1px 0 0;*/
  border-width: 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
  padding: 1px;
}

.full.height > .toc > .ui.menu > .active.item {
  color: #e78901;
}

.article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0px;
}

.masthead.segment {
  display: block;
  padding-bottom: 0em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}

.main.container {
  margin-left: 1em !important;
  margin-right: 1em !important;
  margin-top: 1em !important;
  width: auto !important;
  max-width: 960px !important;
}

.content-layout {
  margin-top: 4.35em;
}

.content-header {
  display: block;
  padding: 1em;
  background: #87d0d6;
}

.masthead.segment {
  position: relative;
  z-index: 3;
  margin: 0em;
  min-height: 185px;
  padding: 3em 0em;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  box-shadow: none;
}

/*******************************
      Loadin Page Layout
*******************************/
body,
html {
  height: 100%;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #377EBC;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
