<div class="ui icon fixed inverted menu blue borderless">
  <div class="ui container">
    <a class="item">
      <i class="sidebar icon"></i>
    </a>
    <div class="right menu">
      <a class="header item" routerLink="/">
        <img class="ui image tiny" [src]="'assets/images/mc-logo-210.png'">
      </a>
    </div>
    <div class="right menu">
        <div class="ui pointing dropdown link item">
        <!-- <app-weather></app-weather> -->
    </div>
      <div class="ui pointing dropdown link item page-header">
        <img class="ui image mini circular" [src]="profileImage">
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Set status message</div>
          <div class="divider"></div>
          <a routerLink="/admin" class="item">Administrator</a>
          <a (click)="logout()" class="item">Logout</a>
        </div>
      </div>
      <a routerLink="/help" class="item">
        <i class="question circle icon"></i>
      </a>
    </div>
  </div>
</div>
