<div class="content-header">
  <h3 class="ui header">Staff Directories</h3>
</div>
<div class="main ui container">
  <h5 class="ui header">Find a colleague</h5>
  <div class="ui form">
    <div class="inline fields">
      <div class="six wide field">
        <input #colleague colleague.value="" type="text" maxlength="16" placeholder="job title, email, name">
        <button class="ui button orange" (click)="findStaffsByColleague(colleague.value)">Search</button>
      </div>
      <div class="ten wide field">
        <div class="equal width fields">
          <div class="field">
            <select [(ngModel)]="staffFilter.company" class="ui search selection dropdown">
              <option class="item" value="">Company</option>
              <option *ngFor="let company of companies" class="item" [value]="company">{{company}}</option>
            </select>
          </div>
          <div class="field">
            <select [(ngModel)]="staffFilter.division" class="ui search selection dropdown">
              <option class="item" value="">Division</option>
              <option *ngFor="let division of divisions" class="item" [value]="division">{{division}}</option>
            </select>
          </div>
          <div class="field">
            <select [(ngModel)]="staffFilter.department" class="ui search selection dropdown">
              <option class="item" value="">Department</option>
              <option *ngFor="let department of departments" class="item" [value]="department">{{department}}</option>
            </select>
          </div>
          <div class="field">
            <button class="ui button orange" (click)="findStaffsByFilter(staffFilter)">Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="staffs?.length <= 0 && isContentLoaded">
    <div class="ui sizer vertical segment">
      <div class="ui medium header blue">No results found</div>
      <div class="sub header">
        <strong>Suggestion:</strong>
      </div>
      <p>Instead of using name, use filters to narrow down the company and department.
        <br>Use keywords such as job title or first name to find the staff you are looking for.</p>
    </div>
  </div>
  <div class="ui active centered inline loader" *ngIf="!isContentLoaded"></div>
  <div class="ui two cards">
    <div *ngFor="let staff of staffs" class="card">
      <div class="content">
        <img class="left floated small ui image" [src]='staff.AccountProfileImageUrl'>
        <div class="header">
          <a>{{staff.FullName}}</a>
          <p>{{staff.AccountProfile.JobTitle}}</p>
        </div>
        <div class="meta">
          {{staff.AccountProfile.CompanyName}} - {{staff.AccountProfile.Department}}
        </div>
        <p>{{staff.Email}}</p>
        <div *ngFor="let phone of staff.AccountPhoneContacts">
          <p>({{phone.CountryCode}}) {{phone.PhoneNumber}} {{phone.Extension}}</p>
        </div>
      </div>
      <div class="extra content">
        <span>{{staff.City}}</span>
        <a [href]="'mailto:' + staff.Email" class="ui button orange right floated">
          <i class="envelope icon"></i>
          Email me
        </a>
      </div>
    </div>
  </div>
</div>
