﻿@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "About";
}
@if ((await AuthorizationService.AuthorizeAsync(User, "sysadmin")).Succeeded)
{
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <h3>User claims</h3>

    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>

        }
        <dt>id token</dt>
        <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>
    </dl>


}
else
{
    <p>Only Administrator Policy to view the information.</p>
}