﻿@if (ViewContext.ModelState.IsValid == false)
{
    ViewBag.HeaderMessage = string.Join("", ViewContext.ModelState.Values.SelectMany(x => x.Errors)
        .Select(x => "<div class='item'><i class='remove icon'></i><div class='content'>" + x.ErrorMessage + "</div></div>"));
    <div class="ui negative message" id="login_message__login">
        <div class="ui list">
            @Html.Raw(ViewBag.HeaderMessage)
        </div>
    </div>
} else {
    <div class="ui message">
        <p>Enter your registered email address and we will send you a reset password email link.</p>
    </div>
}