<app-header [profileImage]="profileImage"></app-header>
<div class="ui container content-layout">
  <div class="pusher">
    <div class="full height">
      <app-sidebar class="toc"></app-sidebar>
      <div class="article">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>