<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-header [profileImage]="profileImage"></app-header>
<div class="ui container content-layout">
  <div class="pusher">
    <div class="full height">
      <app-sidebar class="toc"></app-sidebar>
      <div class="article">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-header [profileImage]="profileImage"></app-header>
<div class="ui container content-layout">
  <router-outlet></router-outlet>
</div> -->

<!-- Master -->
<router-outlet></router-outlet>
